/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* by Soulwish */

em {
	font-style: italic;
}
p {
	margin: 1em 0;
}
body {
	text-align: center;
	font-family: 'Philosopher', sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	color: #26303C;
	font-weight: 700;
}
header {
	position: relative;
	margin: 50px 0 0;
	text-align: left;
}
header p {
	margin: 0;
}
.avatar {
	width: 64px;
	height: 64px;
	border-radius: 5px;
	position: absolute;
	left: -72px;
	top: 0;
}
article.page {
	width: 720px;
	margin: auto;
	text-align: left;
}
ul.skills {
	margin: 25px 0 0;
}
ul.skills li {
list-style: none;
display: inline-block;
font-size: 1.3em;
line-height: 2.5em;
}
ul.skills li:not(:last-child)::after {
content: ", ";
}
.main {
	height: 300px;
}
footer {
	color: #A2A9A9;
}
.copy {
	font-size: 0.8em;
}
.portfolio {
	text-align: center;
}
ul.projects li img {
	width:100%;
	border-radius: 10px;
}
.roundabout-holder {
  list-style: none;
  padding: 0;
  margin: auto;
  height: 350px;
  width: 640px;
}
.roundabout-moveable-item {
  height: 350px;
  width: 350px;
  cursor: pointer;
  background-color: #ccc;
  border: 1px solid #999;
  border-radius: 10px;
}
.roundabout-in-focus {
  cursor: auto;
}
a.info {
	height: 26px;
	width: 26px;
	display: none;
	background: url(/images/info.png) no-repeat left top;
	position: absolute;
	right: 0;
	bottom: 0;
}
a.close {
	height: 26px;
	width: 26px;
	display: none;
	background: url(/images/close.png) no-repeat left top;
	position: absolute;
	right: 0;
	top: 0;
}
.testimonial {
	display: none;
	height: 350px;
	width: 350px;
	position: absolute;
	left: 0;
	top: 0;
}
a.view {
	float: left;
	height: 17px;
	width: 31px;
	background: url(/images/eye.png) no-repeat left top;
}
.autor {
	display: block;
	float: right;
	font-style: italic;
}
.contacts ul li {
	width: 49%;
	text-align: center;
	display: inline-block;
}
.gmail {
	background: url(/images/gmail.gif) no-repeat left center;
	padding: 0 0 0 20px;
}
.skype {
	background: url(/images/skype.gif) no-repeat left center;
	padding: 0 0 0 20px;
}
h3.title {
	text-align: center;
	font-size: 1.2em;
	line-height: 4em;
}