html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, address, em, img, strong, b, i, ol, ul, li, article, footer, header, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}

/* by Soulwish */

em {
    font-style: italic;
}
p {
    margin: 1em 0;
}
html {
    background: #FFA500;
    width: 100%;
    height: 100%;
}
body {
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #26303C;
    font-weight: 700;
}
header {
    position: relative;
    margin: 50px 0 0;
    text-align: left;
}
header p {
    margin: 0;
}
.avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    left: -72px;
    top: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.avatar:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}
.page {
    width: 720px;
    margin: auto;
    text-align: left;
}
.translate-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.8em;
}
.translate-btn .en-ru {
    cursor: pointer;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.translate-btn .en-ru:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: #f00;
}
.skills {
    margin: 15px 0 0;
}
.skills li {
    list-style: none;
    display: inline-block;
    font-size: 1.3em;
    line-height: 2em;
}
.skills li:not(:last-child)::after {
    content: ", ";
}
.main {
    height: 300px;
}
footer {
    color: #555;
    text-align: center;
}
.copy {
    font-size: 0.8em;
}
.portfolio {
    text-align: center;
    margin: 10px 0 0 0;
}
.projects {
    margin: 10px 0 0 0;
    text-align: center;
}
.projects a {
    color: #26303c;
    text-decoration: none;
}
.projects a:hover {
    text-decoration: underline;
}
.projects li {
    display: inline-block;
    list-style: none;
    font-size: 1em;
}
.projects li:not(:last-child)::after {
    content: ", ";
}
.clients li {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
}
.clients li:nth-child(3n) {
    margin-right: 0;
}
.client-link {
    text-decoration: none;
    display: block;
}
.client-link:hover {
    text-decoration: none;
}
.client-logo {
    width: 100%;
    border-radius: 5px;
}
.contacts {
    margin: 10px 0 0 0;
}
.contacts a {
    text-decoration: none;
    color: #26303c;
}
.contacts a:hover {
    text-decoration: underline;
}
.contacts li {
    width: 49%;
    text-align: center;
    display: inline-block;
}
.gmail {
    background: url(/images/gmail.gif) no-repeat left center;
    padding: 1px 0 1px 20px;
}
.skype {
    background: url(/images/skype.gif) no-repeat left center;
    padding: 1px 0 1px 20px;
}
.title {
    text-align: center;
    font-size: 1.2em;
    line-height: 4em;
}

@media (max-width: 860px) {
    .page {
        width: 90%;
    }
    .avatar {
        position: relative;
        float: left;
        margin-right: 10px;
        top: 0;
        left: 0;
    }
}
@media (max-width: 500px) {
    .clients li {
        width: 46%;
        margin: 0 2%;
    }
}