/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* by Soulwish */

em {
	font-style: italic;
}
p {
	margin: 1em 0;
}
a {
	color: snow;
	text-decoration: none;
}
body {
	text-align: center;
	font: 100%/1.5 'Bad Script',sans-serif;
	color: snow;
	font-weight: 700;
	background: url(../images/bg.png) repeat 0 0 royalblue;
}
header {
	position: relative;
	margin: 25px 0 0;
	text-align: left;
}
h1 {
	font-size: 3em;
	display: inline-block;
}
header p {
	margin: 0;
}
article.page {
	width: 960px;
	margin: auto;
	text-align: left;
}
footer {
	text-align: center;
}
.twitter {
	padding: 25px 0;
}
ul.tweets li {
	display: inline-block;
	width: 185px;
	height: 200px;
	text-align: center;
}
.icon img {
	border-radius: 50%;
	width: 73px;
}
.active .icon img {
	-webkit-filter:saturate(2);
    filter:saturate(2);
}
.name {
	text-align: center;
	display: block;
}
.bday {
	font-weight: 400;
}
.tweetme {
	display: block;
	width: 36px;
	height: 30px;
	margin: auto;
	background: url(../images/twitter.png) no-repeat 0 0;
}